services:

  webui:
    image: docker.io/mazurkatarzyna/cve-2024-7045-open-webui:latest
    expose:
     - 8080/tcp
    ports:
     - 8080:8080/tcp
    environment:
     - OLLAMA_BASE_URL=http://0.0.0.0:11434
    volumes:
      - open-webui:/app/backend/data
    depends_on:
     - ollama
    network_mode: host 

  ollama:
    image: docker.io/mazurkatarzyna/cve-2024-7045-ollama-mistral:latest
    expose:
     - 11434/tcp
    ports:
     - 11434:11434/tcp
    healthcheck:
      test: ollama --version || exit 1
    command: serve
    volumes:
      - ollama:/root/.ollama
    network_mode: host

volumes:
  ollama:
  open-webui:
